// Primary and secondary colors
@primary: #990a26;
@primary-light: #d0474e;
@primary-dark: #640000;
@secondary: #bfbfbf;
@secondary-light: #f2f2f2;
@secondary-dark: #8f8f8f;

// -Option 1-
// @primary: #d61915;
// @primary-light: #ff5940;
// @primary-dark: #9c0000;

// -Option 2-

// @primary: #bf130f;
// @primary-light: #f9523a;
// @primary-dark: #870000;

// The following colors are compliant with WCAG AAA spec
// on text contrast. Each class is denoted by the target
// background color and text size. sm-text is anything
// less than 24px, lg-text is 24px or greater. These
// colors create as close to a contrast ratio of 7:1 for
// small text and 4.5:1 for large text as possible. In
// cases where the contrast target cannot be reached,
// the specific palette color is excluded from this list.

@primary-sm-text: #e8e8e8;
@primary-dark-sm-text: #bababa;
@primary-lg-text: #bdbdbd;
@primary-light-lg-text: #050505;
@primary-dark-lg-text: #969696;
@secondary-sm-text: #303030;
@secondary-lg-text: #4d4d4d;
@secondary-light-sm-text: #4f4f4f;
@secondary-light-lg-text: #6e6e6e;
@secondary-dark-lg-text: #262626;

// Font Constants (assume 1rem = 16px)
@sm-text: 14px;
@md-text: 22px;
@lg-text: 26px;
@title-font: 'Roboto';
@body-font: 'Roboto';
@btn-shadow: 0.7px 0.7px 5px black, -0.7px -0.7px 5px black;

.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
